.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--input {
  background-color: rgb(33, 199, 199);
  width: 30rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.container--input_type {
  width: 60%;
  padding: 0.5rem;
  outline: none;
  font-size: large;
  border: 1px solid rgb(223, 211, 211);
}

.container--input_btn {
  width: 30%;
  padding: 0.6rem;
  margin-left: 0.3rem;
  background-color: rgb(5, 49, 49);
  color: white;
  cursor: pointer;
  font-size: medium;
}

.todo_container {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 30rem;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  margin-bottom: 1rem;
  padding: 1rem;
}

.todoItem--icons {
  display: flex;
  gap: 1rem;
}

.todoItem--icons button {
  padding: 0.4rem;
  border: none;
  border-radius: 0.2rem;
  color: rgb(97, 59, 10);
  cursor: pointer;
}

.todoItem--span {
  font-size: 1.2rem;
}
